@charset "utf-8";
/***reset***/
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css'); 
@import url('https://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@font-face{ 
    font-family:'TruenoBlk';
    src: url('../font/TruenoBlk.otf');
    src: lpcal('../font/TruenoBlk.otf');
    src: local('☺'),
    url('../font/TruenoBlk.otf') format('otf'),
    url('../font/TruenoBlk.otf') format('truetype');
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin-right:0;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
 
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p, h1, h2, li a{font-style :normal;
  font-stretch: normal;
  line-height: normal;
    letter-spacing: normal;}
input{border:0; }
a{color:black; text-decoration: none;}
.clear:after{content:""; display:block; clear: both;}
.fl{float:left;}
.fr{float:right;}
.nanum{font-family:'NanumSquare'}
.gothic{font-family:'Nanum Gothic'}
.khula{font-family: 'Lato', sans-serif;}
.noto{font-family:"Noto Sans TC",'Lato', sans-serif;}
.noto-sim{font-family:"Noto Sans SC",'Lato', sans-serif;}
.center-x{position:absolute; left:50%; transform:translatex(-50%);}
.center-y{position:absolute; top:50%; transform:translatey(-50%);}
.center-all{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}
.fw300{font-weight:300;}
.fw-normal{font-weight:normal;}
.fw500{font-weight:500;}
.fw-bold{font-weight:bold;}
.fw-700{font-weight:700;}
.fw-800{font-weight:800;}
.fw-900{font-weight:900;}
/***reset 끝***/
html,body{width:100%; height:100%;}
.wrap-body{width:100%; height:960px; position:relative;}
.background-black{position:fixed; width: 100%;height: 100%; top:0; left:0; background-color: rgba(0, 0, 0, 0.5); z-index:100; display:none;}
/*header 시작*/
#wrap-header{width:100%; height:80px; background-color: #454bdb;}
#wrap-header .header-inner{width:1140px; height:100%; margin:0 auto;}
#wrap-header .header-inner ul{width: 600px; height: 60px; margin-top:20px;}
#wrap-header .header-inner li{width:120px; height: 100%; border-top-left-radius: 8px; border-top-right-radius: 8px;}
#wrap-header .header-inner li a{display:block; width: 100%; height: 100%; line-height:60px; text-align:center; color:#fff; border-top-left-radius: 8px; border-top-right-radius: 8px; transition:0.4s;}
#wrap-header .header-inner li a:hover{background-color: #fff; color:#545454;}
#wrap-header .header-inner li.on{background-color: #fff;}
#wrap-header .header-inner li.on a{color:#545454;}
#wrap-header .header-inner button{width:80px; height: 40px; margin-top:20px; background-color:transparent; font-size:14px; color:#fff; border:2px solid rgba(255, 255, 255, 0.5); border-radius:4px;cursor:pointer;}
/*header 끝*/
#wrap-section{position:relative; width: 1140px; height:800px; margin:0 auto;}
/*kyc-menu 시작*/
#wrap-section .kyc-menu{width:120px; height:100%; background-color: #efefef; padding-top:50px;}
#wrap-section .kyc-menu li{width:100%; height:50px; text-align: center;}
#wrap-section .kyc-menu li span{line-height: 50px; font-size:16px; cursor:pointer;}
#wrap-section .kyc-menu li.on span{font-weight:bold;}
/*kyc-menu 끝*/
/*kyc-holding-section 시작*/
#wrap-section .kyc-holding-section{position:absolute; width:1020px; height:100%; right:0;box-sizing:border-box; padding:50px 20px; }
#wrap-section .kyc-holding-section>div.on{display:block;}
/*kyc인증대기 시작*/
#wrap-section .kyc-holding-section .kyc-holding-box{width:980px; height:600px; box-sizing:border-box; padding:20px 40px; border:2px solid #3d3d3d; border-radius:8px;}
#wrap-section .kyc-holding-section .kyc-holding-box h2{margin-bottom:50px; font-size:24px; font-weight:bold;}
/*#wrap-section .kyc-holding-section .kyc-holding-box>div{width:600px; margin:0px auto; margin-bottom:40px;font-size:18px; font-weight:bold;}*/
#wrap-section .heading form select{width:100px; height:30px; font-size:14px; background-color: #fff; border-color:#efefef; border-radius;4px;}
#wrap-section .heading form .input-group{position:relative; margin-left:10px; height:30px;}
#wrap-section .heading form .input-group .search-box{width: 180px; height: 30px; box-sizing:border-box; border:1px solid #efefef; border-radius:4px;}
#wrap-section .heading form .input-group button{position:absolute; right:5px; top:1px; width: 30px;height: 28px; border:none; cursor:pointer;}
#wrap-section .heading form .input-group button img{opacity:0.4;}
#wrap-section .kyc-holding-section table{width:100%; height:450px;table-layout:fixed; display:table;}
#wrap-section .kyc-holding-section table thead tr{width:100%; height:50px;}
#wrap-section .kyc-holding-section table thead tr th{text-align: center; vertical-align:bottom; padding-bottom:20px; font-size:16px; font-weight:bold; width:20%; cursor:pointer;}
#wrap-section .kyc-holding-section table thead tr th:nth-child(2){width:15%;}
#wrap-section .kyc-holding-section table thead tr th:nth-child(5){width:10%;}
#wrap-section .kyc-holding-section table thead tr th:nth-child(6){width:15%;}
#wrap-section .kyc-holding-section table tbody{display:block; table-layout:fixed; width:900px; height:400px; border:2px solid #ccc; border-radius: 8px; overflow-y:auto; word-break: break-all;}
#wrap-section .kyc-holding-section table tbody tr{width:100%; height:50px; text-align:center; font-size:14px; font-weight:bold;}
#wrap-section .kyc-holding-section table tbody tr td{ white-space:nowrap; overflow:hidden; text-overflow:ellipsis;  vertical-align:middle; width:135px; text-align: center; table-layout:fixed; }
#wrap-section .kyc-holding-section table tbody tr td:nth-child(1){width:20%;}
#wrap-section .kyc-holding-section table tbody tr td:nth-child(2){display:table; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:50px;}
#wrap-section .kyc-holding-section table tbody tr td:nth-child(3){width:20%;}
#wrap-section .kyc-holding-section table tbody tr td:nth-child(4){width:20%;}
#wrap-section .kyc-holding-section table tbody tr td:nth-child(5){width:10%;}
#wrap-section .kyc-holding-section table tbody tr td:nth-child(6){width:15%;}
#wrap-section .kyc-holding-section table tbody tr td button{width:60px; height:25px; background-color: #fefefe; border-radius:4px; cursor:pointer;}
/*kyc인증대기 끝*/
/*kyc인증완료 시작*/
#wrap-section .kyc-holding-section .kyc-verified-box{width:980px; height:600px; box-sizing:border-box; padding:20px 40px; border:2px solid #3d3d3d; border-radius:8px; display:none;}
#wrap-section .kyc-holding-section .kyc-verified-box h2{margin-bottom:50px; font-size:24px; font-weight:bold;}
#wrap-section .heading form select{width:100px; height:30px; font-size:14px; background-color: #fff; border-color:#efefef; border-radius;4px;}
#wrap-section .heading form .input-group{position:relative; margin-left:10px; height:30px;}
#wrap-section .heading form .input-group .search-box{width: 180px; height: 30px; box-sizing:border-box; border:1px solid #efefef; border-radius:4px;}
#wrap-section .heading form .input-group button{position:absolute; right:5px; top:1px; width: 30px; height: 28px; border:none; cursor:pointer;}
#wrap-section .heading form .input-group button img{opacity:0.4;}
#wrap-section .heading .excel{width:120px; height:30px; margin-right:10px; font-size:14px; background-color: #efefef; border:none; border-radius:4px; cursor:pointer;}
#wrap-section .kyc-holding-section .kyc-verified-box table{width:100%; height:450px;table-layout:fixed; display:table;}
#wrap-section .kyc-holding-section .kyc-verified-box table thead tr{width:100%; height:50px;}
#wrap-section .kyc-holding-section .kyc-verified-box table thead tr th{text-align: center; vertical-align:bottom; padding-bottom:20px; font-size:16px; font-weight:bold; width:25%; cursor:pointer;}
#wrap-section .kyc-holding-section .kyc-verified-box table thead tr th:nth-child(2){width:15%;}
#wrap-section .kyc-holding-section .kyc-verified-box table thead tr th:nth-child(5){width:10%;}
#wrap-section .kyc-holding-section .kyc-verified-box table tbody{display:block; table-layout:fixed; width:900px; height:400px; border:2px solid #ccc; border-radius: 8px; overflow-y:auto; word-break: break-all;}
#wrap-section .kyc-holding-section .kyc-verified-box table tbody tr{width:100%; height:50px; text-align:center; font-size:14px; font-weight:bold;}
#wrap-section .kyc-holding-section .kyc-verified-box table tbody tr td{ white-space:nowrap; overflow:hidden; text-overflow:ellipsis;  vertical-align:middle; width:135px; text-align: center; table-layout:fixed; }
#wrap-section .kyc-holding-section .kyc-verified-box table tbody tr td:nth-child(1){width:25%;}
#wrap-section .kyc-holding-section .kyc-verified-box table tbody tr td:nth-child(2){display:table; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:50px;}
#wrap-section .kyc-holding-section .kyc-verified-box table tbody tr td:nth-child(3){width:25%;}
#wrap-section .kyc-holding-section .kyc-verified-box table tbody tr td:nth-child(4){width:25%;}
#wrap-section .kyc-holding-section .kyc-verified-box table tbody tr td:nth-child(5){width:10%;}
#wrap-section .kyc-holding-section .kyc-verified-box table tbody tr td button{width:60px; height:25px; background-color: #fefefe; border-radius:4px; cursor:pointer;}
/*kyc인증완료 끝*/
/*kyc-holding-section 끝*/
/*인증대기 상세페이지 시작*/
.kyc-page{position:absolute; top:50px; left:140px; width:980px; height:500px; box-sizing:border-box; padding:20px 40px; border:2px solid #3d3d3d; border-radius:8px; display:none;}
.kyc-page h2{margin:20px 0; font-size:28px; font-weight:bold; color:#3c3c3c;}
.kyc-page .kyc-inner table{width:50%;}
.kyc-page .kyc-inner table tr td{display:table-cell; height:40px; vertical-align:middle; padding:0 10px; font-weight:bold;}
.kyc-page .kyc-inner table tr:nth-child(7) td{height:20px;}
.kyc-page .kyc-inner table tr:nth-child(8) td{height:70px;}
.kyc-page .kyc-inner table tr td form{width:100%; height:50px; margin-left:20px; font-size:14px;}
.kyc-page .kyc-inner table tr td form button{position:relative; width: 95px; height: 25px; top:10px;margin-right:10px; box-sizing:border-box; padding-right:10px; font-size:14px; line-height:20px; text-align:right; border-radius:8px; border:none; background-color: #efefef; cursor:pointer;} 
.kyc-page .kyc-inner table tr td form button img{width:20px; height:20px; left:10px;}
.kyc-page .kyc-inner table tr td form button.verified{background-color: #9d9d9d; color:#fff;}
.kyc-page .kyc-inner table tr td form button.enabled{background-color: #454bdb; color:#fff;}
.kyc-page .kyc-inner .photo-section{width:50%;}
.kyc-page .kyc-inner .photo-section h3{font-weight:bold; margin-bottom:20px;}
.kyc-page .kyc-inner .photo-section ul li{ width:50%; height:220px;}
.kyc-page .kyc-inner .photo-section ul li img{width: 180px; height:180px; cursor:pointer;}
.kyc-page .kyc-inner .photo-section ul li .download{display:block; width:60px; height:20px; margin-top:3px; line-height:20px; text-align:center; font-size:11px; border:1px solid #9d9d9d; border-radius:4px; background-color: #fefefe;cursor:pointer;}
.kyc-page .kyc-inner .photo-section p{font-size:14px; font-weight:bold; margin-top:16px;}
.kyc-page .kyc-inner .photo-section .scaled-img{position:absolute; width:490px; height:490px; top:-50px; right:50px;background-color: #333; z-index:100; display:none;}
/*인증허가 팝업 시작*/
.verified-popup{position:fixed;width: 400px; height: 200px; top:300px; box-sizing:border-box; padding:40px; border:2px solid #9d9d9d;  border-radius:4px; background-color: #fefefe; box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03); z-index:100; display:none;}
.verified-popup p{margin-bottom:30px; text-align:center; line-height:28px; font-size:18px; font-weight:bold; color:#3c3c3c;}
.verified-popup button{width:90px; height:30px; border-radius:4px; background-color:#464bdb; font-size:14px; color:#fff; cursor:pointer; transition:0.4s;}
.verified-popup button.cancel{background-color: #eee; color:#000;}
.verified-popup button:hover{opacity:0.7;}
/*인증허가 팝업 끝*/
/*인증거절 팝업 시작*/
.refused-popup{position:fixed;width:450px; height: 300px; top:300px; box-sizing:border-box; padding:40px; border:2px solid #9d9d9d;  border-radius:4px; background-color: #fefefe; box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03); z-index:100; display:none;}
.refused-popup p{margin-bottom:30px; text-align:center; line-height:28px; font-size:18px; font-weight:bold; color:#3c3c3c;}
.refused-popup form{width: 100%; height:150px;}
.refused-popup span{width:80px; height:30px; margin-bottom:10px; line-height:30px;}
.refused-popup select{width:280px; height:30px; margin-bottom:10px;}
.refused-popup button{width:80px; height:30px; margin-top:15px; border-radius:4px; background-color:#464bdb; color:#fff; cursor:pointer; transition:0.4s;}
.refused-popup button.cancel{background-color: #eee; color:#000;}
.refused-popup button:hover{opacity:0.7;}
/*인증거절 팝업 끝*/
/*인증대기 상세페이지 끝*/
/*인증완료 상세페이지 시작*/
.kyc-member-page{position:absolute; top:50px; left:140px; width:980px; height:500px; box-sizing:border-box; padding:20px 40px; border:2px solid #3d3d3d; border-radius:8px; display:none;}
.kyc-member-page h2{margin:20px 0; font-size:28px; font-weight:bold; color:#3c3c3c;}
.kyc-member-page .kyc-inner table{width:48%;}
.kyc-member-page .kyc-inner table tr td{display:table-cell; height:40px; vertical-align:middle; padding:0 10px; font-weight:bold;}
.kyc-member-page .kyc-inner table tr td:first-child{width:80px;}
.kyc-member-page .kyc-inner table tr:nth-child(7) td:last-child{line-height:20px;}
.kyc-member-page .kyc-inner table tr td form{width:100%; height:50px; margin-left:20px; font-size:14px;}
.kyc-member-page .kyc-inner table tr td form button{position:relative; width: 95px; height: 25px; top:10px;margin-right:10px; box-sizing:border-box; padding-right:10px; font-size:14px; line-height:20px; text-align:right; border-radius:8px; border:none; background-color: #efefef; cursor:pointer;} 
.kyc-member-page .kyc-inner table tr td form button img{width:20px; height:20px; left:10px;}
.kyc-member-page .kyc-inner table tr td form button.verified{background-color: #9d9d9d; color:#fff;}
.kyc-member-page .kyc-inner .photo-section{width:50%;}
.kyc-member-page .kyc-inner .photo-section h3{font-weight:bold; margin-bottom:20px;}
.kyc-member-page .kyc-inner .photo-section ul li{ width:50%; height:220px;}
.kyc-member-page .kyc-inner .photo-section ul li img{width: 180px; height:180px; cursor:pointer;}
.kyc-member-page .kyc-inner .photo-section ul li a{display:block; width:60px; height:20px; margin-top:3px; line-height:20px; text-align:center; font-size:11px; border:1px solid #9d9d9d; border-radius:4px; background-color: #fefefe;cursor:pointer;}
.kyc-member-page .kyc-inner .photo-section p{text-align:center; font-size:14px; font-weight:bold; margin-top:16px;}
.kyc-member-page .kyc-inner .photo-section .scaled-img{position:absolute; width:490px; height:490px; top:-50px; right:50px;background-color: #333; z-index:100; display:none;}
/*인증완료 상세페이지 끝*/
/*footer 시작*/
#wrap-footer{position:absolute; width: 100%; height: 80px; bottom:0; background-color: #454bdb; }
#wrap-footer .footer-inner{width: 1140px; height: 100%; margin:0 auto;}
#wrap-footer .footer-inner p{text-align: center; line-height:80px; color:#fff;}